<div class="about">

  <div class="about-sections">
    <% for (let i = 0; i < about.sections.length; i++) { %>
      <% const section = about.sections[i]; %>
      <div class="about-section">
      <h2 class="about-title">
        0<%= i + 1 %>. <%- section.title %>
      </h2>
    <div class="about-body">
      <div class="about-content">
        <%- section.content %>
      </div>
      <div class="about-portrait">
        <img src="<%= section.portrait.img.src %>" alt="<%= section.portrait.img.alt%>" width="300"/>
      </div>
    </div>
  </div>
    <% } %>
  </div>


</div>