<div class="projects-wrapper">
  <h2 class="title bold"><span class="numbered">03. </span>
    <%= projects.slug %>
  </h2>
  <div class="projects">
    <% for (let i=0; i < projects.items.length; i++) { %>
      <% const project=projects.items[i]; %>
        <div class="project-item">

          <div class="project-header">
            <div class="project-links">
              <% if (project.github) {%>

                <a href="<%= project.github %>"><i class="fa-brands fa-github fa-lg"></i> </a>
                <% }%>
                  <% if (project.demo) {%>
                    <a href="<%= project.demo %>"><i class="fa fa-external-link fa-lg"></i> </a>
                    <% }%>
            </div>
            <div class="project-item-description">
              <p class="heading-3">
                <%- project.name %>
              </p>
              <p class="text">
                <%- project.description %>

              </p>
            </div>
          </div>


          <div class="project-footer">
            <% for (const tech of project.technologies) {%>
              <div>
                <%= tech %>
              </div>
              <% }%>

          </div>
        </div>
        <% } %>

  </div>
</div>