<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/blog.css" />
  <link rel="stylesheet" href="/style/navbar.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/new-boba" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/sofia-pro" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <script src="/js/jquery-3.7.1.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

</head>

<body>

  <% const {blog, logo, blogs, authorInfos }=sections %>
    <%- include('../components/navbar', {logo, blogs}) %>
    <div class="blog">
      <% const content = blog.content  %>
      <% 
        if (content.banner) {
          const {headline, image } = content.banner;
          const {src, alt} = image
      %>
          <div class="banner" >
              <div class="image-placeholder" style="background-image: url(<%= src %>); background-repeat: no-repeat; background-size: cover"></div>
            </div>
      <%}%>
        <div class="content-container">
          <%if (content.banner) {
          const {headline } = content.banner;
      %>
          <div class="heading-1 title bold" >
            <%= headline %>
            </div>
      <%}%>
          <% const blocks = content.blocks  %>
          <% for (const block of blocks) {%>
            <% const _class = []%>
            <% 
              _class.push("block");
              _class.push(block.direction);
            %>
            <% const customCss = block.customCss ? Object.entries(block.customCss).map(([k, v]) => `${k}:${v}`).join(';'): '';%>

            <div class="<%= _class.join(' ') %>" style="<%- customCss %>">
            <% const elements = block.elements %>
            <% for (const element of elements.sort((a,b) => a.sort - b.sort)) {%>
              <% const customCss = element.customCss ? Object.entries(element.customCss).map(([k, v]) => `${k}:${v}`).join(';'): '';%>
              <div style="<%- customCss %>">
              <%switch (element.type) {
                case 'image': %>
                <img src="<%= element.src %>" width="<%= element.width %>px"/>
                 <%break;
                case 'text':%>
                <span><%= element.content %></span>
                <%   break;
                default:
                  break;
              }%>
            </div>

<%              
            } %>
            </div>
          <% } %>

        </div>
      </div>
      <%- include('../components/medias-icons', {authorInfos}) %>
        <%- include('../components/contact-side', {authorInfos}) %>
      <script>
        document.querySelector('.menu-items').style.display = 'flex'
        window.onload = function () {
          /*window.onresize = function() {
            console.log(window.innerWidth)
            console.log(Array.from(document.querySelectorAll('.block')))
            if (window.innerWidth <= 1024) { 
              Array.from(document.querySelectorAll('.block')).forEach(element => {
                console.log(element)
                element.className ='block column'
                Array.from(element.children).forEach((c) => {
                  console.log(c)
                  c.style.padding = "0"
                })
              });
            }
          }*/
        }
      </script>
</body>

</html>